<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h2 class="text-2x1 font-semibold text-gray-700 mg-4">Nova Categoria</h2>
  <form id="categoriaForm" [formGroup]="camposForm">
    <hr />
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2">Nome</label>
      <input
        type="text"
        id="nome"
        formControlName="nome"
        name="nome"
        placeholder="Categoria X"
        class="w-full p-3 border border-gray-300 rounded shadow-sm"
        required
      />
      <span class="text-red-500 text-sm" *ngIf="isCamposInvalidos('nome')"
        >* Campo obrigatório</span
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2">Descrição</label>
      <textarea
        type="text"
        id="nome"
        formControlName="descricao"
        name="nome"
        placeholder="Categoria X"
        class="w-full p-3 border border-gray-300 rounded shadow-sm"
        required
        rows="4"
      ></textarea>
      <span class="text-red-500 text-sm" *ngIf="isCamposInvalidos('descricao')"
        >* Campo obrigatório</span
      >
    </div>
    <button
      class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700"
      type="submit"
      (click)="salvar()"
    >
      Salvar
    </button>
  </form>
</div>
